* {
    box-sizing: border-box;
    font-family: 'Manrope', 'san serif';
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

body{
    background-color: #ecf2f8;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    box-shadow: 5px 6px 18px -7px rgba(0,0,0,0.46);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}


.images {
    min-height: 200px;
    background-image: url(images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rightside {
    border-radius: 20px;
}

.images img{
    width: 100%;
    height: auto;
}

.texts {
    padding: 10px 30px 10px 30px;
}
.firstblock, .secondblock, .wrapper{
    padding-top: 20px;
}

.wrapper {
    padding: 15px 30px 15px 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstblock, .name {
    font-weight: 700;
    color: #48556a;
    font-size: 1.2rem;
}

.secondblock, .date {
    color: #9eafc2;
    font-weight: 500;
    font-size: 1.01rem;
}

.profileblock {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: left;
    min-height: 52px;
}

.activeprofileblock {
    display: none;
    align-items: center;
    gap: 20px;
    color: #9eafc2;
    min-height: 52px;
}

.profilepic{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.share {
    position: right;
    display: inline-flex;
}

.share span{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ecf2f8;
    text-align: center;
    /* display: inline-flex; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#shareicon{
    /* color: blue; */

    width: 15px;
    height: 15px;
    font-size: 16px;
    padding-bottom: 2px;
    }

@media (min-width: 414px) {
    
    .container {
        display: flex;
        min-width: 412px;
        width:50%;      
        overflow:visible;  
    }
    .images {
        background-size: cover;
        width: 100%;
        height: auto;
        min-height: 250px;
        /* flex-basis: 40%; */
    } 
    .wrapper {
        background-color: #ffffff;
        flex-basis: 60%;
        border-radius: 0px 0px 10px 0px;
    }

    .firstblock {
        font-size: 1.6rem;
    }

    .activeprofileblock {
        border-radius: 10px;
        position: absolute;
        padding: 10px 20px;
        /* top: 140px; */
        top: 55%;
        right: -50px;
        background-color: #48556a;
        box-shadow: 5px 6px 18px -7px rgba(0,0,0,0.46);
    }

    .activeprofileblock::before{
        content: '';
        width: 20px;
        height: 20px;
        background-color: #48556a;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: rotate(45deg);
        box-shadow: 5px 6px 18px -7px rgba(0,0,0,0.46);
    }

    .images{
        border-radius: 10px 0px 0px 10px;
    }
}
